<div class="custom_googlecalendar<?php echo $this->calname; ?>"></div>
<script type="text/javascript">
    $(function () {
        var action = $('#website_url').val() + 'plugin/googlecalendar/run/calendar/calname?calname=<?php echo $this->calname; ?>/<?php echo $this->pageId; ?>';
        $(".custom_googlecalendar<?php echo $this->calname; ?>").append("<iframe height='<?php echo $this->calendarHeight; ?>' width='<?php echo $this->calendarWidth; ?>' src=" + action + "></iframe>");
    });
</script>
