#footer1{
    display:none;
}
/* misc interface */
.cc-titlebar {
    background-color: #e8eef7 !important;
}
.date-picker-arrow-on,
.drag-lasso,
.agenda-scrollboxBoundary {
    background-color: #c3d9ff !important;
}

td#timezone {
    color: #000000 !important;
}

/* tabs */
td#calendarTabs1 div.ui-rtsr-selected,
div.view-cap,
div.view-container-border {
    background-color: #c3d9ff !important;
}
td#calendarTabs1 div.ui-rtsr-selected {
    color: #000000 !important;
}
td#calendarTabs1 div.ui-rtsr-unselected {
    background-color: #e8eef7 !important;
    color: #000000 !important;
}

/* week view */
table.wk-weektop,
th.wk-dummyth {
    /* days of the week */
    background-color: #c3d9ff !important;
}
div.wk-dayname {
    color: #000000 !important;
}
div.wk-today {
    background-color: #e8eef7 !important;
    border: 1px solid #EEEEEE !important;
    color: #000000 !important;
}
td.wk-allday {
    background-color: #EEEEEE !important;
}
td.tg-times {
    background-color: #e8eef7 !important;
    color: #000000 !important;
}
div.tg-today {
    background-color: #ffffcc !important;
}

/* month view */
table.mv-daynames-table {
    background-color: #c3d9ff !important;
    /* days of the week */
    color: #000000 !important;
}
td.st-bg,
td.st-dtitle {
    /* cell borders */
    border-left: 1px solid #c3d9ff !important;
}
td.st-dtitle {
    /* days of the month */
    background-color: #e8eef7 !important;
    color: #000000 !important;
    /* cell borders */
    border-top: 1px solid #c3d9ff !important;
}
td.st-bg-today {
    background-color: #ffffcc !important;
}

/* agenda view */
div.scrollbox {
    border-top: 1px solid #c3d9ff !important;
    border-left: 1px solid #c3d9ff !important;
}
div.underflow-top {
    border-bottom: 1px solid #c3d9ff !important;
}
div.date-label {
    background-color: #e8eef7 !important;
    color: #000000 !important;
}
div.event {
    border-top: 1px solid #c3d9ff !important;
}
div.day {
    border-bottom: 1px solid #c3d9ff !important;
}